.worklist {
  @apply relative md:flex mt-5 mb-5 md:flex-row;
}
.worklist-item {
  @apply md:basis-1/9 w-full;
}
.worklist-inner {
  @apply bg-slate-200 p-4 rounded-md text-left w-full;
}
.worklist-date {
  @apply text-xs text-slate-500 md:mb-0 block mb-5;
}
.worklist-icon {
  @apply absolute top-2 right-2 flex flex-row-reverse gap-3 md:basis-9/1 md:pl-2 md:relative md:flex md:flex-wrap md:gap-3 md:items-start md:content-start md:top-0;
}
.worklist-description-title {
  @apply bg-slate-700 text-white h-8 font-medium rounded-md pl-2;
}
.worklist-title {
  @apply font-medium text-lg;
}
hr {
  @apply block h-1 border-0 border-t-2 m-1 p-0 bg-slate-500;
}
.worklist-details p {
  @apply p-5 whitespace-pre-line;
}
.worklist-details summary::-webkit-details-marker {
  @apply hidden;
}
.worklist-details > summary {
  @apply flex list-none items-center cursor-pointer;
}
.worklist-details summary:before {
  content: "\ea42";
  @apply text-base text-white mr-5;
  font-family: "CV";
}
.worklist-details[open] summary:before {
  content: "\ea43";
  @apply text-base text-white mr-5;
  font-family: "CV";
}
.worklist-page-link-block {
  @apply flex mb-2 gap-3;
  > i {
    padding-left: 30px;
  }
}
.post-webpage {
  @apply pr-5;
}
.worklist-stack {
  @apply flex gap-3 text-sm py-3 text-slate-600 font-medium flex-wrap;
}
