i {
  font-family: "CV" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-white {
  @apply text-slate-200;
}
.icons-dark {
  @apply text-slate-600;
}
.iconsize-xs {
  @apply text-xs;
}
.iconsize-sm {
  @apply text-sm;
}
.iconsize-base {
  @apply text-base;
}
.iconsize-lg {
  @apply text-lg;
}
.icon {
  @apply flex justify-center flex-wrap cursor-pointer w-fit;
}
.icon-text {
  @apply hidden md:text-xs md:text-slate-900 md:p-1 md:w-auto md:flex;
}
.icon-close:before {
  content: "\ea0f";
  @apply w-9 h-9 rounded-lg flex items-center justify-center top-[3.5px] right-1 cursor-pointer bg-slate-100;
}
.icon-close:hover:before {
  @apply bg-slate-500 transition-all text-white;
}
.icon-edit:before {
  content: "\e908";
  @apply w-9 h-9 bg-slate-100 rounded-lg flex items-center justify-center top-[3.5px] right-1 cursor-pointer transition-all;
}
.icon-edit:hover:before {
  content: "\e908";
  @apply bg-slate-500 text-slate-100;
}

.icon-email:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e901";
  @apply transition-all;
}
.icon-github:hover:before {
  @apply text-slate-500;
}

.icon-linkedin:before {
  content: "\e902";
}
.icon-info:before {
  content: "\e903";
}
.icon-location:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e905";
}
.icon-telegram:before {
  content: "\e906";
}
.icon-home:before {
  content: "\e907";
  font-size: 20px;
  color: white;
}

.icon-trash:before {
  content: "\e9ac";
  @apply w-9 h-9 bg-slate-100 rounded-lg flex items-center justify-center top-[3.5px] right-1 cursor-pointer transition-all;
}
.icon-trash:hover:before {
  @apply bg-slate-500 text-slate-100;
}
.icon-trash-xs:before {
  content: "\e9ac";
}

.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-webpage:before {
  content: "\e9ca";
  @apply transition-all;
}
.icon-webpage:hover:before {
  @apply text-slate-500;
}
// .clear-btn {
//   content: "\ea0f";
//   @apply ;
// }
.clear-btn::before {
  content: "\ea0f";
  @apply w-6 h-6 bg-slate-50 rounded-full absolute flex items-center justify-center top-[1.5px] right-1 cursor-pointer transition-all;
}
.clear-btn:hover::before {
  content: "\ea0f";
  @apply text-slate-500;
}
.icon-link-none {
  i:before {
    @apply pr-3 text-sm text-slate-700 pointer-events-none;
  }
}
.icon-link {
  @apply pr-3 text-sm text-slate-400 cursor-pointer;
}
