.post{
    @apply relative;
    &__none{
        @apply text-sm text-slate-500 cursor-none line-through pointer-events-none
    }
    &__item{
        @apply mt-5 mb-5;
    }
    &__inner{
        @apply bg-slate-200 p-4 rounded-md;
    }
    &__date{
        @apply text-xs text-slate-500
    }
    &__description__title{
        @apply bg-slate-700 text-white h-8 font-medium rounded-md pl-2 
    }
    &__page__link{
        @apply flex mb-2 leading-3;
        &__none{
            @apply flex mb-2 leading-3
        }
        &__none >li >a{
            @apply pr-3 text-sm text-slate-400 line-through pointer-events-none
        }
    }    
    &__page__link li a{
        @apply pr-3 text-sm 
    }
    &__icon{
        @apply absolute top-8 right-5;        
    }
    &__delete{
        @apply cursor-pointer pl-3 
    }
    &___edit{
        @apply cursor-pointer
    }        

}

h2{
    @apply font-medium text-lg
}

hr{
    @apply block h-1 border-0 border-t-2 m-1 p-0 bg-slate-500;  
}

details p{
    @apply p-5 whitespace-pre-line
}
details summary::-webkit-details-marker {
    @apply hidden
}

details > summary {
    @apply flex list-none items-center    
}

details summary:before {
    content: "\ea42";
    @apply text-base text-white mr-5;    
    font-family: "CV";       
}

details[open] summary:before {
    content: "\ea43";
    @apply text-base text-white mr-5; 
    font-family: "CV";    
}